.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mail-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-left: 40px;
  min-height: 500px;
  color: white;
}

.mail-form-full-width {
  width: 100%;
}

