<mat-toolbar color="primary">
  <span>Osobe - ljudi</span>
  <div class="slika-gore">
  <img src="assets/ljudi1.png"/>
  </div>
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon aria-label="Example icon-button with a heart icon">more_vert</mat-icon>
  </button>
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item>
      <mat-icon>fingerprint</mat-icon>
      <span>Login</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>announcement</mat-icon>
      <span>Issues</span>
    </button>
  </mat-menu>
</mat-toolbar>

<!-- <router-outlet></router-outlet> -->

<mat-tab-group class="demo-tab-group" [selectedIndex]="selectedTab" (selectedTabChange)="tabChanged($event)">
  <mat-tab label="Dashboard">
    <app-dashboard></app-dashboard>
    <div class="dolje">
        <mat-icon class="naranca" (click)="selectedTab = 3">add_circle</mat-icon>
    </div>
  </mat-tab>
  <mat-tab label="Profili">
      <app-profile-lst></app-profile-lst>
  </mat-tab>
  <mat-tab label="E-mail">
    <h3>Potvrda e-maila</h3>
    <br/>
    <form class="mail-form">
      <mat-form-field class="mail-form-full-width">
        <input matInput placeholder="E-mail adresa" value="">
      </mat-form-field>
      
      <button mat-raised-button color="primary">Pošalji</button>

    </form>
  </mat-tab>
  <mat-tab label="Registracija">
    <h3>Registracija</h3>

  </mat-tab>
</mat-tab-group>


